.melon__chart {
    padding: 20px;
    text-align: center;

    .chart__title {
        font-size: 45px;
        font-family: var(--fontN);
        margin-bottom: 20px;
    }

    .chart__controls {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        .control__group {
            display: flex;
            gap: 5px;

            .date__title {
                border-radius: 8px;
                font-size: 16px;
                border: 10px solid #69a3d0;
                margin-left: 10px;
            }

            .chart__date {
                border-radius: 8px;
                font-size: 16px;
                border: 10px solid #fff;
                margin-left: 10px;
            }
        }
    }

    .chart__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        margin-top: 30px;

        .chart__item {
            flex: 0 0 calc(20% - 16px);
            /* 5개 아이템을 한 줄에 표시하고 gap을 고려한 너비 */
            box-sizing: border-box;
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #eee;
            border-radius: 8px;
            text-align: center;

            .chart__text {
                margin-bottom: 20px;
                height: 15%;

                >h2 {
                    font-size: 18px;
                    color: var(--black);
                    line-height: 1.5;
                }

                >p {
                    font-size: 14px;
                    color: var(--black);
                    margin-top: 10px;
                }
            }

            .chart__image {
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
                margin: 10px 0;

                >img {
                    vertical-align: top;
                    width: 80%;
                }
            }
        }
    }
}