@font-face {
    font-family: 'Cafe24Meongi-W-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Decoshadow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.wrapper {
    margin: 0 auto 100px auto;
    max-width: 960px;
}

.chart__title {
    padding: 20px 40px;
    margin-top: 30px;

    .title__h1 {
        font-size: 140px;
        color: white;
        text-align: center;
        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
        margin: -30px;
        background-color: #0d3286;
        border-radius: 100px;
        margin-top: 10px;

    }
}

.cont__label {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: -20px;
    margin-top: 45px;

    .cont01,
    .cont02 {
        .cont__p {
            color: #0d3286;
            font-size: 20px;
            font-family: var(--fontX);
            font-weight: bold;
        }
    }

    .cont01 {
        display: flex;

        .cont__select {
            padding: 10px 10px;
            border-radius: 10px;
            margin: 16px 10px;
        }
    }

    .cont02 {
        display: flex;

        .cont__input {
            padding: 10px 10px;
            border-radius: 10px;
            border: 1px solid;
            margin: 16px 10px;
        }
    }
}

.stage {
    list-style: none;
    padding: 0;
}